@use '../../../styles-collections/mixin/density/density-mixin' as *;
@use '../../../styles-collections/mixin/typography/font-scales' as *;

@use '../../../styles-collections/breakpoints' as *;
@use '../variables' as var;

@mixin text-all-features() {
    @include box-external-space($top: 10px, $right: 0px, $bottom: 0px, $left: 0px);
    @include font-collect(var.$font-family-sans, var.$font-weight-regular, 16px, $line-height: 1.8em);

    @include respond(lg) {
        @include box-external-space($top: 10px, $right: 100px, $bottom: 0px, $left: 0px);
    }
}