@use '../../../styles-collections/mixin/typography/font-scales' as *;
@use '../../../styles-collections/mixin/color/color-mixin' as *;

@use '../../../styles-collections/breakpoints' as *;
@use '../variables' as var;

@mixin title-all-features() {
    @include font-collect(var.$font-family-cinzel, var.$font-weight-bold, $font-size: 30px, $line-height: 40px);
    @include text-color($color: var.$secondary-color);
    @include text-format($text-transform: uppercase, $text-align: center, $letter-spacing: normal);

    @include respond(md) {
        @include font-collect(var.$font-family-cinzel, var.$font-weight-bold, $font-size: 47px, $line-height: 40px);
    }
    
    @include respond(lg) {
        @include text-format($text-transform: uppercase, $text-align: left, $letter-spacing: normal);
    }
    
    @include respond(xl) {
        @include font-collect(var.$font-family-cinzel, var.$font-weight-bold, $font-size: 50px, $line-height: 67px);
    }
}