@use '../../../styles-collections/mixin/typography/font-scales' as *;
@use '../../../styles-collections/mixin/color/color-mixin' as *;
@use '../../../styles-collections/mixin/density/density-mixin' as *;

@use '../variables' as var;
@use '../../../styles-collections/breakpoints' as *;

@mixin title-swiper-sub-text-all-features() {
    app-sequence-space:has(.ui-sequence-block__sub_text-swiper-element) {
        .ui-sequence-block__sub_text-swiper-element {
            .item-space__sub-text-swiper-block-0 {
                app-flex-heading:has(.ui-flex-heading) {
                    .ui-flex-heading {
                        @include font-collect(var.$font-family-cinzel, var.$font-weight-bold, 22px, $line-height: 1.2);
                        @include text-color(var.$secondary-color);
                        @include box-external-space($top: 30px, $right: 0px, $bottom: .5rem, $left: 0px);
                        @include text-format($text-transform: normal, $text-align: center, $letter-spacing: normal);

                        @include respond (lg) {
                            @include text-format($text-transform: normal, $text-align: left, $letter-spacing: normal);
                            @include box-external-space($top: 45px, $right: 0px, $bottom: .5rem, $left: 0px);
                        }
                    }
                }
            }

            .item-space__sub-text-swiper-block-1 {
                app-text-box:has(.text-box-block__sub-text-0) {
                    .text-box-block__sub-text-0 {
                        .ui-text {
                            @include text-color(var.$tertiary-color);
                            @include font-collect(var.$font-family-sans, var.$font-weight-middle, 15px, $line-height: 18px);
                            @include text-format($text-transform: capitalize, $text-align: center, $letter-spacing: normal);

                            @include respond(lg) {
                                @include text-format($text-transform: capitalize, $text-align: left, $letter-spacing: normal);
                            }
                        }
                    }
                }
            }
        }
    }
}