@mixin rotate-figure($time: 4s, $type: linear, $repeat: infinite) {
    animation: rotate $time $type $repeat;

    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}