@use '../../styles-collections/mixin/base/base-mixin' as *;
@use '../../styles-collections/mixin/density/density-mixin' as *;
@use '../../styles-collections/mixin/color/color-mixin' as *;

@use './variables' as var;

@mixin sidebar-button-left-all-features() {
    app-button-flex:has(.ui-btn-flex) {
        @include display-features($display: flex, $justify-content: center, $flex-direction: row, $align-items: center, $align-content: center, $flex-wrap: nowrap);
        @include text-color($color: var.$white-color);
        @include dimension($width: 40px, $height: 40px);
        @include border-decoration-solid($length: 1px);
        @include border-decoration-color($border-color: var.$white-color);
        @include view-ui-cursor(pointer);

        .ui-btn-flex {
            @include dimension($width: 100%, $height: 100%);
        }
    }
}