@use '../../styles-collections/mixin/base/base-mixin' as *;
@use '../../styles-collections/mixin/density/density-mixin' as *;
@use '../../styles-collections/mixin/color/color-mixin' as *;

@use './variables' as var;
@use '../../styles-collections/breakpoints' as *;

@mixin sidebar-button-right-all-features() {
    app-button-flex:has(.ui-btn-flex) {
        @include display-features($display: flex, $justify-content: center, $flex-direction: row, $align-items: center, $align-content: center, $flex-wrap: nowrap);
        @include dimension($width: 40px, $height: 40px);
        @include content-color($background-color: var.$sixteenth-color);
        @include view-ui-cursor(pointer);
        @include border-decoration-radius($border-radius: 3px);
        @include text-color($color: var.$white-color);

        .ui-btn-flex {
            @include dimension($width: 100%, $height: 100%);
        }
    }
}