$font-family-sans: "Inter", sans-serif;
$font-family-cinzel: "Cinzel, serif";
$font-weight-regular: 400;
$font-weight-middle: 500;
$font-weight-intermediate: 600;
$font-weight-bold: 700;
$font-size-base: 15px;

$line-scale: 1.5;

$translate-middle: translate(-50%, -50%);

$primary-color: #84857E;
$secondary-color: #626842;
$tertiary-color: #BA9659;
$fourth-color: #F5F2EA;
$fifth-color: #F4E8DA;
$sixth-color: #DCCBB6;
$seventh-color: #575E38;
$eighth-color: #575D38;
$ninth-color: #5C623D;
$tenth-color: rgba(255, 255, 255, 0.2);
$eleventh-color: #eedecb;
$thirteenth-color: rgba(85, 85, 85, 0.2);
$fourteenth-color: rgba(0, 0, 0, 0.6);
$fifteenth-color: #2d3038;
$sixteenth-color: rgb(51, 51, 51);
$seventeenth-color: #243352;
$eighteenth-color: #efefef;
$nineteenth-color: #f3f3f3;
$twentieth-color: #888;
$twentieth-one-color: #c79652;

$white-color: #fff;
$transparent-color: transparent;

