@mixin respond($breakpoint) {
    @if ($breakpoint == "sm") {
        @media screen and (min-width: 640px) {
            @content;
        }
    } 

    @else if ($breakpoint == "md") {
        @media screen and (min-width: 768px) {
            @content;
        }
    }

    @else if ($breakpoint == "lg") {
        @media screen and (min-width: 1024px) {
            @content;
        }
    }

    @else if ($breakpoint == "xl") {
        @media screen and (min-width: 1280px) {
            @content;
        }
    }

    @else if ($breakpoint == "2xl") {
        @media screen and (min-width: 1536px) {
            @content;
        }
    }

    @else if ($breakpoint == "3xl") {
        @media screen and (min-width: 1816px) {
            @content;
        }
    }
}