.contact {
    padding: var(--contact-padding-y, 80px) 0;

    &__main-container {
        width: 100%;
        max-width: var(--max-width-container, 970px);
        margin: 0 auto;
        padding: 0 .75rem;
    }   
}