@use '../../variables' as var;

@mixin tab-panel-all-features() {
    .tab-panel {
        &__nav {
            display: flex;
            flex-wrap: wrap;
            border-bottom: 1px solid var.$thirteenth-color;
        }

        &__btn {
            background-color: transparent;
            border: none;
            border-bottom: 2px solid transparent;
            cursor: pointer;
            padding: .75rem 1.25rem;
            transition: all .2s ease;
            color: var.$twentieth-color;

            &.is-active {
                color: var.$secondary-color;
                border-bottom-color: var.$tertiary-color;
            }

            &:hover { color: var.$secondary-color; }  
        }

        &__body {
            padding: 2rem 0;
            color: var.$primary-color;
            line-height: 1.75;
        }
    }
}