@use '../../../styles-collections/mixin/base/base-mixin' as *;
@use '../../../styles-collections/mixin/density/density-mixin' as *;
@use '../../../styles-collections/mixin/color/color-mixin' as *;

@use '../../../styles-collections/mixin/typography/font-scales' as *;
@use '../variables' as var;

@mixin body-side-bar-anchor-link-all-features() {
    app-anchor-flex:has(.ui-link-e) {
        @include display-features($display: block, $justify-content: space-between, $flex-direction: row, $align-items: center, $align-content: center, $flex-wrap: center);
        @include dimension($width: 100%, $height: 100%);

        .ui-link-e {
            @include display-features($display: block, $justify-content: space-between, $flex-direction: row, $align-items: center, $align-content: center, $flex-wrap: center);
            @include dimension($width: 100%, $height: 100%);
            @include transition-features($transition: all .2s ease-out);

            &:hover {
                @include text-color($color: var.$secondary-color);
            }
        }
    }
}