@use '../../../styles-collections/mixin/density/density-mixin' as *; 
@use '../../../styles-collections/mixin/base/base-mixin' as *;
@use '../../../styles-collections/mixin/color/color-mixin' as *;
@use '../../../styles-collections/mixin/typography/font-scales' as *;

@use '../../../styles-collections/breakpoints' as *;
@use '../variables' as var;

@mixin inner-info-all-features() {
    @include display-features($display: flex, $justify-content: space-between, $flex-direction: row, $align-items: center, $align-content: center, $flex-wrap: wrap);

    app-text-box:has(.text-box-block-0) {
        @include display-features($display: block, $justify-content: unset, $flex-direction: unset, $align-items: unset, $align-content: unset, $flex-wrap: unset);
        @include dimension($width: 180px, $height: 150px);
        @include box-external-space($top: 45px, $right: auto, $bottom: 0px, $left: auto);
        @include box-internal-space($top: 30px, $right: 0px, $bottom: 0px, $left: 0px);
        @include border-decoration-solid-detailed($border-left: 1px, $border-top: 1px, $border-right: 1px, $border-bottom: 1px, $border-type: dashed);
        @include border-decoration-color(var.$tenth-color);

        .text-box-block-0 {
            .ui-flex-heading {
                @include font-collect(var.$font-family-cinzel, var.$font-weight-bold, 60px, $line-height: 1.2);
                @include text-format($text-transform: capitalize, $text-align: center);

                @include respond(sm) {
                    @include font-collect(var.$font-family-cinzel, var.$font-weight-bold, 90px, $line-height: 1.2);
                }
            }

            .ui-text {
                @include font-collect(var.$font-family-sans, var.$font-weight-intermediate, 14px, $line-height: 32px);
                @include text-format($text-transform: uppercase, $text-align: center, $letter-spacing: .1em);
                @include box-external-space($top: 0px, $right: auto, $bottom: 0px, $left: auto);
            }
        }
    
        @include respond(sm) {
            @include dimension($width: 180px, $height: 192px);
        }

        @include respond(lg) {
            @include box-external-space($top: 0px, $right: 0px, $bottom: 0px, $left: 0px);
        }
    }

    @include respond(lg) {
        @include display-features($display: flex, $justify-content: right, $flex-direction: row, $align-items: center, $align-content: center, $flex-wrap: wrap);
    }
}