@use '../../../styles-collections/mixin/base/base-mixin' as *;
@use '../../../styles-collections/mixin/typography/font-scales' as *;
@use '../../../styles-collections/mixin/density/density-mixin' as *;
@use '../../../styles-collections/mixin/color/color-mixin' as *;

@use '../variables' as var;
@use '../../../styles-collections/breakpoints' as *;


@mixin inner-card-all-features() {
    .ui-flex-heading, .ui-text, .link-list-block {
        @include display-features($display: block, $justify-content: unset, $flex-direction: unset, $align-items: center, $align-content: unset, $flex-wrap: unset);
        @include text-format($text-transform: uppercase, $text-align: center);

        @include respond(lg) {
            @include text-format($text-transform: uppercase, $text-align: left);
        }
    }
    
    .ui-flex-heading {
        @include font-collect(var.$font-family-cinzel, var.$font-weight-bold, 20px, $line-height: 30px);
        @include box-external-space($top: 0px, $right: 0px, $bottom: 25px, $left: 0px);

        @include respond(sm) {
            @include font-collect(var.$font-family-cinzel, var.$font-weight-bold, 30px, $line-height: 40px);
        }
    }

    .ui-text {
        @include font-collect(var.$font-family-cinzel, var.$font-weight-bold, 16px, $line-height: 25px);
        @include box-external-space($top: 0px, $right: 0px, $bottom: 50px, $left: 0px);

        @include respond(sm) {
            @include font-collect(var.$font-family-cinzel, var.$font-weight-bold, 22px, $line-height: 30px);
        }
    }

    .link-list-block {
        .ui-link-e {
            @include font-collect(var.$font-family-sans, var.$font-weight-middle, 14px, $line-height: 1.5);
            @include transition-features($transition: all .3s ease-in-out);
            @include box-internal-space($top: 12px, $right: 18px, $bottom: 12px, $left: 18px);
            @include border-decoration-solid($length: 1px);
            @include text-color(var.$white-color);
            @include border-decoration-color(var.$transparent-color);
            @include content-color(var.$tertiary-color);
        
            @include respond(md) {
                @include font-collect(var.$font-family-sans, var.$font-weight-middle, 18px, $line-height: 1.5);
                @include box-internal-space($top: 15px, $right: 45px, $bottom: 15px, $left: 45px);
            } 

            @include respond(lg) {
                @include font-collect(var.$font-family-sans, var.$font-weight-middle, 16px, $line-height: 1.5);
            }
        
            &:hover {
                @include content-color(var.$transparent-color);
                @include border-decoration-solid($length: 1px);
                @include border-decoration-color(var.$tertiary-color);
            }
        }
    }
}