@use '../variables' as var;
@use '../../../styles-collections/breakpoints' as *;

@use '../../../styles-collections/mixin/typography/font-scales' as *;
@use '../../../styles-collections/mixin/color/color-mixin' as *;
@use '../../../styles-collections/mixin/base/base-mixin' as *;
@use '../../../styles-collections/mixin/density/density-mixin' as *;

@use '../../../styles-collections/mixin/intern-visibility-hover-sequence' as *;
@use '../../../styles-collections/mixin/ui-menu-panel-mixin' as *;
@use '../../../styles-collections/mixin/ui-underline-decoration-mixin' as *;

@mixin nav-list-all-features() {
    .nav-block__nav-list {
        @include display-features(none);
        
        app-custom-list:has(.ui-list-custom) {
            .ui-list-custom {
                @include intern-visibility-hover-sequence(2, 'ui-list-custom__list-item', 'ui-list-custom');
                
                .ui-list-custom__list-item {
                    @include position-features(relative);
                    @include transition-features();
    
                    app-button-flex:has(.ui-btn-flex) {
                        .ui-btn-flex {
                            @include display-features($display: flex, $justify-content: space-between, $flex-direction: row, $align-items: center, $align-content: center, $flex-wrap: nowrap);
                            app-icon-flex {
                                @include display-features($display: none, $justify-content: space-between, $flex-direction: row, $align-items: center, $align-content: center, $flex-wrap: nowrap);
                            }
                        }
                    }

                    &:hover {
                        @include text-color(var.$secondary-color);
    
                        .ui-list-custom {
                            @include direction-position(100%, auto, auto, auto);
                        }
                    }
    
                    .ui-list-custom {
                        @include ui-menu-panel(110%);
    
                        .ui-list-custom__list-item {
                            &:hover {
                                .ui-list-custom {
                                    @include direction-position(-39%, auto, auto, 100%);
                                }
                            }
    
                            .ui-list-custom {
                                @include direction-position(-39%, auto, auto, 110%);
                            }
    
                            .ui-btn-flex {
                                @include dimension(100%, auto);
                                @include text-format(capitalize, left);
                            }
    
                            .ui-btn-flex, .ui-link-e {
                                @include box-internal-space(10px, 15px, 10px, 15px);
                                @include ui-underline-decoration(var.$secondary-color);
                            }
    
                            .ui-link-e {
                                @include display-features(block);
                            }
                        }
                    }
    
                    .ui-btn-flex, .ui-link-e {
                        @include box-internal-space(30px, 6px, 30px, 6px);
                    }
    
                    .ui-link-e {
                        @include display-features(block);
                    }
                }

                .ui-list-custom__list-item .ui-list-custom__sub-item-list-item {
                    app-button-flex:has(.ui-btn-flex) {
                        .ui-btn-flex {
                            app-icon-flex {
                                @include display-features($display: contents, $justify-content: space-between, $flex-direction: row, $align-items: center, $align-content: center, $flex-wrap: nowrap);
                            }
                        }
                    }
                }
            }
        }

        @include respond('lg') {
            @include display-features(inline-block);
        }
    }
}