@use '../../../../styles-collections/mixin/base/base-mixin' as *;
@use '../../../../styles-collections/mixin/density/density-mixin' as *;
@use '../../../../styles-collections/mixin/typography/font-scales' as *;
@use '../../variables' as var;

@mixin icon-value-all-features() {
    @include display-features($display: flex, $justify-content: end, $flex-direction: row, $align-items: center, $align-content: center, $flex-wrap: wrap);
    @include dimension($width: 50%, $height: auto);
    @include font-collect($font-family: var.$font-family-sans, $font-weight: var.$font-weight-regular, $font-size: 55px, $line-height: 65px);
    flex: 0 0 auto;
    color: var.$white-color;
    background-color: var.$secondary-color;
    padding-top: 15px;
    border-top-left-radius: 100px;
}