@use '../../../../styles-collections/mixin/density/density-mixin' as *;
@use '../../../../styles-collections/mixin/base/base-mixin' as *;
@use './container' as *;
@use './image' as *;
@use './title-description' as *;
@use './swiper-track' as *;

@mixin testimonial-all-features() {
	app-testimonial {
		// Spacing variables
		--testimonial-padding-y: 80px;
		--testimonial-padding-y-md: 90px;
		--testimonial-padding-y-lg: 120px;
		--testimonial-max-width: 1280px;
		
		.testimonial__body {
			@include display-features($display: flex, $justify-content: space-between, $flex-direction: row, $align-items: center, $align-content: center, $flex-wrap: wrap);
			@include dimension($width: 100%, $height: auto);
			flex: unset;
		}

		@include container-all-features();
		@include image-all-features();
		@include title-description-all-features();
		@include swiper-track-all-features();
	}
}
