@use '../../../styles-collections/mixin/density/density-mixin' as *;
@use '../../../styles-collections/mixin/color/color-mixin' as *;
@use '../../../styles-collections/mixin/typography/font-scales' as *;

@use '../variables' as var;

@mixin button-form-flex-all-features() {
    @include dimension($width: 100%, $height: 58px);
    @include border-decoration-solid(0);
    @include font-collect(unset, unset, 24px);
    @include content-color(var.$tertiary-color);
}