@if (LOADING()) {
    <div class="shop-single-loading">Loading...</div>
}

@if (DETAIL_CONTENT()) {
    <app-product-single-outlet
        [CONTENT]="DETAIL_CONTENT()!"
        [TEMPLATE]="'default'"
        (addToCart)="onAddToCard($event)">
    </app-product-single-outlet>
}

@if (RELATED_TRACK()) {
    <app-container
        [BLOCK_SEQUENCE_SPACE]="RELATED_TRACK()!">
    </app-container>    
}

<div class="shop-single__tabs">
    <!-- <app-tab-panel
        CONTENT=""></app-tab-panel>     -->
</div>
