<app-container 
    [BLOCK_SEQUENCE_SPACE]="CONFIG.staticHero"></app-container>

<app-flex-collection 
    [FLEX_COLLECTION_ITEM]="CONFIG.collection"></app-flex-collection>

<app-container 
    [BLOCK_SEQUENCE_SPACE]="CONFIG.cardTrack"></app-container>

<app-container 
    [BLOCK_SEQUENCE_SPACE]="CONFIG.detachedElement"></app-container>

<app-container 
    [BLOCK_SEQUENCE_SPACE]="CONFIG.textImage"></app-container>

<app-container 
    [BLOCK_SEQUENCE_SPACE]="CONFIG.collectionInfo"></app-container> 
    
    
    
