@use '../../../styles-collections/mixin/base/base-mixin' as *;
@use '../../../styles-collections/mixin/density/density-mixin' as *;
@use '../../../styles-collections/mixin/typography/font-scales' as *;
@use '../../../styles-collections/mixin/color/color-mixin' as *;

@use '../../../styles-collections/breakpoints' as *;
@use '../variables' as var;

@mixin title-description-all-features() {
    @include display-features($display: flex, $justify-content: center, $flex-direction: row, $align-items: center, $align-content: center, $flex-wrap: wrap);
    app-text-box:has(.text-box-block-0) {
        @include flex-position-features(0 0 auto);
        @include dimension($width: 100%, $height: auto);
        @include box-internal-space($top: 0px, $right: 1.5rem, $bottom: 0px, $left: 1.5rem);

        .text-box-block-0 {
            @include box-external-space($top: 0px, $right: 0px, $bottom: 40px, $left: 0px);
            @include text-format($text-transform: none, $text-align: center, $letter-spacing: normal);

            .ui-flex-heading {
                @include font-collect(var.$font-family-cinzel, var.$font-weight-bold, 30px, $line-height: 40px);
                @include text-color(var.$secondary-color);

                @include respond(md) {
                    @include font-collect(var.$font-family-cinzel, var.$font-weight-bold, 47px, $line-height: 67px);
                }

                @include respond(xl) {
                    @include font-collect(var.$font-family-cinzel, var.$font-weight-bold, 50px, $line-height: 67px);
                }
            }

            .ui-text {
                @include font-collect(var.$font-family-sans, var.$font-weight-regular, 16px, $line-height: 1.8em);
                @include box-external-space($top: 10px, $right: 0px, $bottom: 0px, $left: 0px);
            }

            @include respond(md) {
                @include box-external-space($top: 0px, $right: 0px, $bottom: 60px, $left: 0px);
            }   
        }

        @include respond(lg) {
            @include dimension($width: 66%, $height: auto);
        }
    }
}