@use '../../../styles-collections/mixin/color/color-mixin' as *;
@use '../../../styles-collections/mixin/density/density-mixin' as *;
@use '../../../styles-collections/mixin/base/base-mixin' as *;

@use '../variables' as var;

@mixin circle-figure-all-features() {
    @include dimension($width: 50px, $height: 50px);
    @include content-color($background-color: var.$white-color);
    @include position-features($position: absolute);
    @include direction-position($top: -3px, $right: unset, $bottom: unset, $left: 4px, );
    @include out-direction-move($z-index: -1);
    @include border-decoration-radius($border-radius: 250%);
    @include transition-features($transition: all .3s ease-in-out);
}