@use '../../../styles-collections/mixin/base/base-mixin' as *;
@use '../../../styles-collections/mixin/density/density-mixin' as *;
@use '../../../styles-collections/mixin/typography/font-scales' as *;
@use '../../../styles-collections/mixin/color/color-mixin' as *;

@use '../../../styles-collections/breakpoints' as *;
@use '../variables' as var;

@mixin collection-title-card-all-features() {
    @include box-internal-space($top: 0px, $right: .7rem, $bottom: 0px, $left: .7rem);

    app-flex-heading:has(.ui-flex-heading) {
        .ui-flex-heading {
            @include font-collect(var.$font-family-cinzel, var.$font-weight-bold, 30px, 40px);
            @include text-color(var.$secondary-color);

            @include respond(md) {
                @include font-collect(var.$font-family-cinzel, var.$font-weight-bold, 47px, 40px);
            }

            @include respond(xl) {
                @include font-collect(var.$font-family-cinzel, var.$font-weight-bold, 50px, 67px);
            }
        }
    }

    .ui-flex-heading, .ui-text {
        @include text-format($text-transform: capitalize, $text-align: center);
    }

    .ui-text {
        @include box-external-space($top: 10px, $right: 0px, $bottom: 40px, $left: 0px);
        @include font-collect(var.$font-family-sans, var.$font-weight-regular, 16px, 1.8em);

        @include respond(md) {
            @include box-external-space($top: 10px, $right: 0px, $bottom: 60px, $left: 0px);
        }
    }
}