@use '../../../styles-collections/mixin/density/density-mixin' as *;
@use '../../../styles-collections/mixin/base/base-mixin' as *;
@use '../../../styles-collections/breakpoints' as *;

@use './collection-title-card' as *;
@use './collection-card-list' as *;

@mixin collection-card-all-features() {
    @include box-internal-space($top: 80px, $right: 0px, $bottom: 50px, $left: 0px);
    @include display-features($display: block, $justify-content: unset, $flex-direction: unset, $align-items: unset, $align-content: unset, $flex-wrap: unset);

    app-text-box:has(.text-box-block__header-collection-0) {
        @include display-features($display: flex, $justify-content: center, $flex-direction: column, $align-items: center, $align-content: center, $flex-wrap: unset);
    }   

    .text-box-block__header-collection-0 {
        @include collection-title-card-all-features();
        @include flex-position-features(0 0 auto);
        @include dimension($width: 100%, $height: auto);

        @include respond(lg) {
            @include dimension($width: 66.6666666667%, $height: auto);
        }
    }

    .ui-sequence-block__collection-body-card {
        @include collection-card-list-all-features();
    }

    @include respond(md) {
        @include box-internal-space($top: 90px, $right: 0px, $bottom: 60px, $left: 0px);
    }

    @include respond(lg) {
        @include box-internal-space($top: 120px, $right: 0px, $bottom: 90px, $left: 0px);
    }
}