@use '../../../styles-collections/breakpoints' as *;

@use '../../../styles-collections/mixin/base/base-mixin' as *;
@use '../../../styles-collections/mixin/density/density-mixin' as * ;
@use '../../../styles-collections/mixin/color/color-mixin' as *;
@use './corner-left-image' as *;

@use './corner-right-image' as *;
@use './banner' as *;
@use '../variables' as var;

@mixin static-hero-all-features() {
    .ui-sequence-block__static-hero {
        @include position-features(absolute);
        @include direction-position($top: -85.5px, $right: unset, $bottom: 0, $left: unset);
        @include dimension($width: 100%, $height: auto);
        @include out-direction-move(1);
        @include display-features($display: flex, $justify-content: space-around, $flex-direction: row, $align-items: center);
        @include content-color(var.$fourth-color);

        .item-space-0 {
            @include corner-left-image-all-features();
        }

        .item-space-1 {
            &::after, &::before {
                @include position-features(absolute);
                @include content-color(var.$fifth-color);
                @include out-direction-move(-2);
            }

            &::after {
                content: "";
                @include direction-position($top: unset, $right: unset, $bottom: 0, $left: 0);
                @include dimension($width: 100%, $height: 500px);
            }

            &::before {
                content: unset;
                @include direction-position($top: 0, $right: 0, $bottom: unset, $left: unset);
                @include dimension($width: 220px, $height: 185px);

                @include respond(md) {
                    content: "";
                }

                @include respond(xl) {
                    @include dimension($width: 325px, $height: 185px);;
                }
            }

            .flex-card-block {
                @include banner-all-features();
            }
        }

        .item-space-2 {
            @include corner-right-image-all-features();
        }
    }
}