@use '../../variables' as var;
@use '../../../../styles-collections/mixin/typography/font-scales' as *;

@mixin article-body-all-features() {
    &__body {
        color: var.$primary-color;
        
        h2, h3, h4 {
            @include font-collect($font-family: var.$font-family-cinzel, $font-weight: var.$font-weight-bold, $font-size: 20px, $line-height: 1.3);
            color: var.$secondary-color;
        }

        h2 { font-size: 24px; }
        h3 { font-size: 20px; }
        h4 { font-size: 17px; }
        
        p { color: var.$primary-color }

        a {
            color: var.$tertiary-color;
            text-decoration: underline;
            transition: color .2s ease; 

            &:hover { color: var.$twentieth-one-color; }
        }

        blockquote {
            border-left-color: var.$tertiary-color;
            color: var.$primary-color;
            background-color: var.$fourth-color;
            padding: 1rem 1.25rem;
        }

        img { border: 1px solid var.$thirteenth-color; }
    }
}