@use '_main' as *; // Import custom styles here

html, 
body { height: 100%; }

body.ecommerce-blog-jewelry-luxury {
    overflow-x: hidden;
@include get-theme-name('ecommerce-blog-jewelry-luxury');
}
