@mixin display-features($display: block, $justify-content: space-between, $flex-direction: row, $align-items: center, $align-content: unset, $flex-wrap: unset) {
    display: $display;
    justify-content: $justify-content;
    flex-direction: $flex-direction;
    align-content: $align-content;
    align-items: $align-items;
    flex-wrap: $flex-wrap;
}

@mixin flex-position-features($flex) {
    flex: $flex;
}

@mixin position-features($position: relative) {
    position: $position;
}

@mixin transition-features($transition: all .2s ease-out) {
    transition: $transition;
}

@mixin change-position($transform: translate(50%, 50%)) {
    transform: $transform;
}

@mixin change-view-scale($scale: scale(1.3)) {
    @include change-position($transform: $scale);
}

@mixin out-direction-move($z-index: 1) {
    z-index: $z-index;
}

@mixin direction-position($top: 100%, $right: 100%, $bottom: 100%, $left: 100%,) {
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin screen-adjust($overflow) {
    overflow: $overflow;
}

@mixin horizontal-adjust($overflow-x) {
    overflow-x: $overflow-x;
}

@mixin border-decoration-radius($border-radius: 2px) {
    border-radius: $border-radius;
}

@mixin border-decoration-radius-detailed($border-top-left-radius: unset, $border-top-right-radius: unset, $border-bottom-right-radius: unset, $border-bottom-left-radius: unset) {
    border-top-left-radius: $border-top-left-radius;
    border-top-right-radius: $border-top-right-radius;
    border-bottom-right-radius: $border-bottom-right-radius;
    border-bottom-left-radius: $border-bottom-left-radius;
}

@mixin view-ui-cursor($cursor) {
    cursor: $cursor;
}

@mixin animation-detail($animation-duration: 500ms, $animation-timing-function: ease-in-out, $animation-delay: 0s, $animation-direction: normal, $animation-fill-mode: none, $animation-iteration-count: 1, $animation-play-state: running, $animation-name: none) {
    animation: $animation-duration $animation-timing-function $animation-delay $animation-direction $animation-fill-mode $animation-iteration-count $animation-play-state $animation-name;
}


@mixin display-grid-features($grid-template-columns: auto auto auto, $grid-template-rows: none, $column-gap: unset, $row-gap: unset, $justify-content: unset, $align-content: unset) {
    display: grid;
    grid-template-columns: $grid-template-columns;
    grid-template-rows: $grid-template-rows;
    column-gap: $column-gap;
    row-gap: $row-gap;
    justify-content: $justify-content;
    align-content: $align-content;
}