@mixin product-list-actions-all-features() {
    &__col--actions {
        display: flex;
        gap: .5rem;
    }

    &__action-btn {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: .8125rem;
        padding: .375rem .75rem;
        transition: all .2s ease;
    }
}